#manager{
    width: 25vw;
    height: 50vh;
    border: 1px solid white;
    padding: 1.5vh;

    display: flex;
    flex-direction: column;
}

#manager-header{
    display: flex;
    justify-content: space-between;
    font-size: 1.5em;
    margin-bottom: 2vh;
}

.mang-select-btn{
    font-size: 0.8em;
    border: 1px solid red;
    padding: 0.5vh 2vw;
}

#manager-body{
    flex: 1;                  
    overflow: auto;
}

.add-comp{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80%;
}
.add-comp > p {
    padding: 2vh;
    font-size: 1.5em;
}
.add-comp > input {
    font-size: 1.5rem;
    margin-bottom: 1vh;
    border: 1px solid;
    border-radius: 0.5rem;
    padding: 0px 0.5rem;
}

.player-holder{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1vh;
    flex-direction: column;
}

#manager-ignore{
    border: 1px solid;
    padding: 0.5vh;
}
#manager-ignore:hover{
    border: 2px solid;
    cursor: pointer;
}

