#setup-hold{
    width: 40%;
}

#setup-hold > h3 {
    text-align: center;
    font-size: 2.8rem;
    font-weight: 600;
}

.select-align{
    display: flex;
    justify-content: space-between;
    align-content: center;
    margin: 5vh 0vw;
}

.select-align > p {
    font-size: 1.8rem;
}

#timer-select > button{
    font-size: 1.5rem;
    margin: 0vh 1vw;
    border: 1px solid;
    width: 3.5vw;
    border-radius: 0.5rem;
}

#timer-select > button.selected , #timer-select > button:hover {
    border: 3px solid;
}

#count-style{
    font-size: 1.5rem;
    text-align: center;
    margin: 0vh 1vw;
    border: 1px solid;
    border-radius: 0.5rem;
}

.set-next {
    display: flex;
    justify-content: center;
}

.set-next > button {
    margin: 1rem;
    width: 3vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.setting-icon{
    transition: transform 0.3s ease-in-out;
}

.set-next > button:hover .setting-icon{
   transform: scale(1.5);
}