#type_space{
    opacity: 0;
    pointer-events: none;
    position: absolute;
}
.type_space{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
    font-size: 2em;
}

.textCorrect{
    color: lime;
}
.textWrong{
    color: red;
}