#type_space{
    opacity: 0;
    pointer-events: none;
    position: absolute;
}
.type_space{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
    font-size: 2em;

    line-height: 1.5;
    text-align: center;

    overflow: hidden;
}

.type_space > p {
    max-width: 80ch;
    max-height: 20vh;
    white-space: pre-wrap;
    word-wrap: break-word;

    overflow: hidden;
    display: block;
}

.textCorrect{
    color: lime;
}
.textWrong{
    color: red;
}