#home-page{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#select-hold{
    width: 100%;
    justify-content: space-between;
    display: flex;
    margin: 5vh 0%;
}

.select-btn{
    height: 30vh;
    width: 100%;
    border: 1px rgb(255, 255, 255) solid;
    border-radius: 1rem;
    font-size: 1.5rem;
    font-weight: 600;
}